{
	"semi": true,
	"trailingComma": "es5",
	"singleQuote": false,
	"tabWidth": 4,
	"printWidth": 80,
	"useTabs": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "crlf",
	"preserve": "collapse",
	"bracketSameLine": true,
	"overrides": [
		{
			"files": "*.scss",
			"options": {
				"singleQuote": false
			}
		}
	]
}
