.btn {
    font-weight: var(--fw-bold);
    transition: var(--transition-base);

    &--cta,
    &--contact {
        display: block;
        width: max-content;

        border: var(--border-base);
        border-radius: var(--radius);
        background: transparent;

        padding: var(--pad-btn);

        &:hover {
            background-color: var(--color-primary);
            color: var(--color-bg);
        }
    }

    &--cta-menu {
        width: 100%;
        text-align: center;
    }

    &--buy {
        display: block;
        width: max-content;

        background-color: var(--color-primary);
        border-radius: var(--radius);
        border: var(--border-base);
        color: var(--color-bg);

        padding: var(--pad-btn);

        &:hover {
            background-color: transparent;
            color: var(--color-primary);
            border: var(--border-base);
        }
    }

    &--open {
        position: relative;
        overflow: hidden;

        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border: var(--border-base);
        border-bottom: none;

        padding: 50px 30px 16px;
        background-color: var(--color-bg);
        line-height: 0.8;
        cursor: pointer;

        transition: border-color 400ms ease, transform 400ms ease;

        --fold: 0px;
        z-index: 0;

        &::before {
            content: "";
            position: absolute;
            left: -3px;
            right: -3px;
            top: -3px;

            height: calc(var(--fold) - 18px);
            background: var(--color-bg);
            border-bottom: var(--border-base);

            pointer-events: none;
            z-index: 1;

            transition: height 700ms cubic-bezier(.2, .85, .2, 1);
        }

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: calc(var(--fold) - 78px);

            width: 100%;
            height: 100%;
            transform: translateX(-50%);

            pointer-events: none;
            z-index: 3;

            transition: top 700ms cubic-bezier(.2, .85, .2, 1);

            background:
                radial-gradient(ellipse at 50% 0%, transparent 62.5%, currentColor 63%, currentColor 64%, transparent 65%);
        }

        &:hover {
            --fold: 34px;
        }
    }

    &-open-wrap {
        position: relative;
        display: flex;
        overflow: hidden;

        --fold: 0px;

        &::before {
            content: "";
            position: absolute;

            left: 0;
            right: 0;

            top: calc(var(--fold) - 60px);
            height: 60px;

            background: var(--color-bg);

            pointer-events: none;
            z-index: 10;

            transition: top 760ms cubic-bezier(.2, .85, .2, 1);
        }

        &:has(.btn--open:hover) {
            --fold: 15px;
        }
    }
}