@use "../tools/placeholders"as *;

.preloader {
    display: grid;
    place-items: center;

    position: fixed;
    z-index: 9999;
    inset: 0;

    background-color: var(--color-bg);

    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    transition: none;

    will-change: opacity, transform;

    &.is-hidden {
        pointer-events: none;
    }

    &__content {
        width: max(180px, 20vw);
        display: flex;
        flex-direction: column;
        gap: var(--gap-small);
    }

    &__logo {
        width: 100%;
        aspect-ratio: 240 / 41;
    }

    &__logo-svg {
        width: 100%;
        height: 100%;
        display: block;
        fill: var(--color-primary);
    }

    &__bar {
        position: relative;
        width: 100%;
        height: 2px;
        overflow: hidden;
        background: transparent;

        &-fill {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 0%;
            background: var(--color-muted);
            transition: none;
        }
    }
}