.menu-visit {
    &__mode {
        border-bottom: var(--border-base);
        padding-bottom: calc(var(--pad) * 2);

        &-title {
            margin-bottom: calc(var(--pad) / 2);
        }

        &-text {
            color: var(--color-muted);
        }
    }

    &__ticket {
        --edge-width: 40px;
        --perforation-size: 46px;
        --perforation-radius: 16px;
        --offset-top: 6px;
        --offset-side: 16px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        align-items: center;
        position: relative;

        padding: calc(var(--pad) * 2) calc(var(--pad) * 2);
        margin: 0 var(--offset-side);

        background-color: #fff;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: var(--edge-width);
            height: 100%;
            top: 0;
            background: inherit;

            -webkit-mask-image: radial-gradient(circle at 50% var(--perforation-radius),
                    transparent var(--perforation-radius),
                    black calc(var(--perforation-radius) + 1px));
            mask-image: radial-gradient(circle at 50% var(--perforation-radius),
                    transparent var(--perforation-radius),
                    black calc(var(--perforation-radius) + 1px));

            -webkit-mask-size: var(--edge-width) var(--perforation-size);
            mask-size: var(--edge-width) var(--perforation-size);
            -webkit-mask-repeat: repeat-y;
            mask-repeat: repeat-y;
        }

        &::before {
            left: calc(var(--edge-width) * -1);
            -webkit-mask-position: 0 var(--offset-top);
            mask-position: 0 var(--offset-top);
        }

        &::after {
            right: calc(var(--edge-width) * -1);
            -webkit-mask-position: 0 var(--offset-top);
            mask-position: 0 var(--offset-top);
        }
    }

    &__prices {
        &-header {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin: calc(var(--pad) * 2) 0;
        }
    }

    &__header {
        display: flex;
        flex-direction: row;

        text-transform: none;
        color: var(--color-muted);

        &-cell {
            display: flex;
            align-items: center;
            gap: 8px;

            width: 220px;

            &-hint {
                width: 32px;
                height: 32px;

                background-color: var(--color-primary);
                border: none;
                border-radius: var(--radius);
                color: var(--color-bg);

                font-family: var(--ff-base);
                font-size: var(--fs-base);

                cursor: help;
            }
        }
    }

    &__slogan {
        margin: calc(var(--pad) * 2) 0;
        color: var(--color-muted);
        text-transform: none;
    }

    &__location {
        border-top: var(--border-base);
    }

    &__faq {
        position: relative;

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-title {
            font-size: var(--fs-lead);
        }

        &-toggle {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--gap-small);

            background-color: transparent;
            border: none;

            font-family: inherit;
            font-size: var(--fs-base);
            text-transform: var(--tt-up);

            cursor: pointer;
        }

        &-toggle-icon {
            display: block;
        }

        &-content {
            display: grid;
            grid-template-columns: 1fr 1fr auto;
            column-gap: calc(var(--gap-small) * 2);
        }

        &-column {
            display: flex;
            flex-direction: column;
            gap: calc(var(--gap-small) * 2);
            max-width: 560px;

            padding: var(--pad) 0;

            font-family: var(--ff-content);
            text-transform: none;
        }

        &-question {
            font-weight: var(--fw-bold);
        }

        &-ask {
            display: flex;

            &-btn {
                display: flex;
                flex-direction: column;
                align-self: flex-end;
                align-items: center;
                gap: var(--gap-small);
                bottom: 20px;

                background-color: transparent;
                border: none;
                position: sticky;

                cursor: pointer;
            }

            &-circle {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--color-primary);

                width: min(10vw, 80px);
                height: min(10vw, 80px);

                border-radius: var(--radius);
                color: var(--color-bg);

                font-family: var(--ff-display);
                font-size: var(--fs-lead);
            }

            &-text {
                font-family: var(--ff-base);
                font-size: var(--fs-base);
                text-transform: var(--tt-up);
            }
        }
    }
}