.menu-eat {
    &__content {
        display: grid;
        grid-template-columns: 60% auto;
        grid-template-rows: auto auto;
        column-gap: clamp(24px, 4vw, 64px);
    }

    &__col--left {
        grid-column: 1;
        grid-row: 1;
    }

    &__col--right {
        grid-column: 2;
        grid-row: 1;
    }

    &__gallery--full-width {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    &__img {
        width: 100%;

        &--top,
        &--bottom {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: clamp(20px, 2vh, 40px);

        &-title {
            font-family: var(--ff-display);
            font-size: var(--fs-title);
            font-weight: var(--fw-regular);
            line-height: var(--lh-title);
        }

        &-text {
            font-family: var(--ff-content);
            font-size: var(--fs-content);
            letter-spacing: var(--ls);
            width: 100%;
        }

        &-list {
            list-style: none;
            font-family: var(--ff-content);
            font-size: var(--fs-content);
            text-transform: none;
            letter-spacing: var(--ls);
        }

        &-contacts {
            display: flex;
            flex-direction: column;
            gap: clamp(20px, 2vh, 40px);
            align-items: center;
        }
    }

    &__col {
        &--right {
            display: flex;
            flex-direction: column;
            gap: clamp(20px, 2vh, 40px);
            justify-content: space-between;
            height: 100%;
        }
    }

    &__gallery {
        &-header {
            display: flex;
            justify-content: space-between;
            padding: var(--pad) 0;
        }

        &-controls {
            display: flex;
            flex-direction: row;
        }
    }

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;

        border: none;
        background-color: transparent;
    }

    &__slides {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: clamp(12px, 1vw, 24px);

        overflow: hidden;
        width: 100%;
    }

    &__slide {
        &-img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }
    }
}