/* <= 1024px */
@media (max-width: 1024px) {
    .hero {
        &__top {
            grid-template-columns: 1fr auto 1fr;
            gap: 12px;
        }

        &__year {
            grid-column: 2;
            justify-self: center;
        }

        &__theme {
            grid-column: 3;
        }

        &__slogan {
            gap: 6px;
        }

        &__bottom {
            gap: 16px;
        }
    }

    .menu-panel {
        &__collumns {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 24px;
            row-gap: 40px;
        }

        &__collumn {
            &:nth-child(3n+3) {
                border: none;
                padding-right: 0;
            }

            &:nth-child(4n+4) {
                border-right: var(--border-base);
                padding-right: 24px;
            }
        }
    }

    .footer {
        &__container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto 80px;
            row-gap: 24px;
            column-gap: 16px;
        }

        &__dev {
            grid-column: 1 / -1;
            justify-content: center;
            align-items: end;

            padding: 0;

            &-logo {
                display: block;
                background: var(--color-muted);
                mask: url("/assets/img/logo-buro-horizontal.svg") no-repeat center / contain;
                -webkit-mask: url("/assets/img/logo-buro-horizontal.svg") no-repeat center / contain;

                width: 200px;
                aspect-ratio: 200 / 77;
            }
        }
    }
}

/* <= 768px */
@media (max-width: 768px) {
    .hero {
        &__container {
            gap: 24px;
        }

        &__top {
            grid-template-columns: 1fr auto 1fr;
            gap: 12px;
        }

        &__year {
            grid-column: 2;
            justify-self: center;
        }

        &__theme {
            grid-column: 3;
            justify-self: end;
            order: 0;
        }

        &__city {
            grid-column: 1;
            justify-self: start;
            order: 0;
        }

        &__bottom {
            gap: 18px;
        }
    }

    .btn {
        &--open {
            --w: 96px;
            --h: 48px;
        }
    }

    .menu-panel {
        &__collumns {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 24px;
            row-gap: 40px;
        }

        &__collumn {
            &:nth-child(2n+2) {
                border-right: none;
                padding-right: 0;
            }

            &:nth-child(3n+3) {
                border-right: var(--border-base);
                padding-right: 24px;
            }
        }
    }

    .footer {
        &__container {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 0;
        }
    }
}

/* <= 600px */
@media (max-width: 600px) {
    .hero {
        &__bottom {
            grid-template-columns: 1fr;

            &-col--right,
            &-col--center {
                display: none;
            }
        }
    }

    .btn--primary {
        width: 100%;
        text-align: center;
    }

    .menu-row {
        flex-direction: column;
        gap: 8px;

        &__heading {
            flex-direction: column;
            gap: 4px;
        }

        &__meta {
            align-items: center;
        }
    }

    .footer {
        &__container {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, auto);
        }

        &__dev {
            padding-top: var(--pad);
        }
    }
}

/* <= 480px */
@media (max-width: 480px) {
    .hero {
        &__theme-indicator {
            width: 22px;
            height: 22px;
        }

        &__logo {
            margin: 12px 0;
        }

        &__contact-email,
        &__contact-vk {
            word-break: break-word;
        }
    }

    .btn {
        &--open {
            --w: 88px;
            --h: 44px;

            &::after {
                height: 50px;
            }
        }
    }

    .main {
        &__bar {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    .menu-panel {
        &__collumns {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 24px;
        }

        &__collumn {
            border-right: none;
            padding-right: 0;
            padding-bottom: 24px;

            &:nth-child(3n+3) {
                border-right: none;
                padding-right: 0;
            }

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
    }
}

/* <= 380px */
@media (max-width: 380px) {
    .hero {
        &__bottom {
            grid-template-columns: 1fr;

            &-col--right {
                display: none;
            }
        }
    }

    .btn--primary {
        width: 100%;
        text-align: center;
    }
}

/* <= 360px */
@media (max-width: 360px) {
    .hero {
        &__slogan {
            font-size: 1rem;
        }
    }
}

/* <= all wireframe */
@media (hover: none) {

    .hero__theme::after,
    .hero__theme::before {
        display: none;
    }
}