@font-face {
    font-family: "Hagin Caps Medium";
    src: url("/assets/fonts/HaginCapsMedium-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Artifakt Element";
    src: url("/assets/fonts/ArtifaktElement-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Artifakt Element";
    src: url("/assets/fonts/ArtifaktElement-Bold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Franklin Gothic Demi Cond";
    src: url("/assets/fonts/franklin_gothic_demi_cond.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Google Sans Regular";
    src: url("/assets/fonts/GoogleSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}