/* 
=================================
    НЕТЮРЬМА
================================= 
*/

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--t);
}


/* Variables */
:root {
    /* Colors */
    --c-bg: #EEEEEE;
    --c-text: #000000;
    --c-muted: #9B9B9B;

    /* Typography */
    --ff-main: "Roboto Slab", serif, Arial;
    --ff-accent: "Google Sans", sans-serif;

    --fs-hero: clamp(1.1rem, 3vw, 2.4rem);
    --fs-body: clamp(0.9rem, 1.1vw, 1rem);
    --fs-title: clamp(2.2rem, 6vw, 4.5rem);

    --lh: 1.45;

    --fw-thin: 100;
    --fw-extralight: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 600;
    --fw-black: 700;

    --tt-main: uppercase;

    /* Layout */
    --radius: 100px;
    --border-btn: 1px solid var(--c-text);

    /* Transition */
    --t: 0.5s;
    --ease: ease-in-out;

    /* Adaptive helpers */
    --pad: clamp(16px, 3vw, 40px);
}

/* Light theme */
html[data-theme="light"] {
    --c-bg: #EEEEEE;
    --c-text: #000000;
    --c-muted: #9B9B9B;
}

/* Dark theme */
html[data-theme="dark"] {
    --c-bg: #000000;
    --c-text: #EEEEEE;
    --c-muted: #9B9B9B;
}

/* Base */
body {
    font-family: var(--ff-main);
    font-size: var(--fs-body);
    line-height: var(--lh);
    background: var(--c-bg);
    color: var(--c-text);
    text-transform: var(--tt-main);
}

a {
    text-decoration: none;
    color: var(--c-text);

    &:hover {
        color: var(--c-text);
    }
}

button {
    color: var(--c-text);

    font-size: var(--fs-body);
    text-transform: var(--tt-main);

    cursor: pointer;
}

h2 {
    font-family: var(--ff-accent);
    font-size: var(--fs-title);
}

h3 {
    margin: 16px 0;
}

p {
    text-transform: none;
}

::selection {
    background: var(--c-text);
    color: var(--c-bg);
}

/* Header | Hero */
.hero {
    width: 100%;
    height: 100svh;

    padding: var(--pad);

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;
    }

    &__top {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
    }

    &__version,
    &__version a:not(.current) {
        color: #aaa!important;
    }

    &__year {
        grid-column: 2;
        justify-self: center;

        font-weight: var(--fw-bold);
    }

    &__theme {
        position: relative;
        grid-column: 3;
        justify-self: end;

        border: none;
        background: transparent;

        transition: all var(--t) var(--ease);

        &-indicator {
            display: block;

            background: var(--c-text);
            mask: url("/v2/assets/icons/theme.svg") no-repeat center / contain;
            -webkit-mask: url("/v2/assets/icons/theme.svg") no-repeat center / contain;

            width: 24px;
            height: 24px;
        }

        &::after {
            content: attr(data-tooltip);

            position: absolute;
            bottom: calc(-100% - 16px);
            right: 0;

            padding: 6px 10px;

            font-family: var(--ff-main);
            white-space: nowrap;

            background: var(--c-text);
            color: var(--c-bg);

            border-radius: 4px;

            opacity: 0;
            pointer-events: none;
            transform: translateY(6px);
            transition: all var(--t) var(--ease);
        }

        &:hover::after,
        &:hover::before {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__city,
    &__slogan {
        font-family: var(--ff-accent);
        font-size: var(--fs-hero);
        font-weight: var(--fw-bold);
    }

    &__logo {
        background: var(--c-text);
        mask: url("/v2/assets/img/logo.svg") no-repeat center / contain;
        -webkit-mask: url("/v2/assets/img/logo.svg") no-repeat center / contain;

        width: 100%;
        height: clamp(80px, 18vw, 5000px);
        display: block;
        max-width: 100%;

        margin: 16px 0;

        pointer-events: none;
    }

    &__slogan {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto auto;
        gap: 8px;
    }

    &__word {
        &--a {
            grid-column: 1 / 2;
            grid-row: 1;
        }

        &--b {
            grid-column: 2 / 3;
            grid-row: 2;
        }

        &--c {
            grid-column: 1 / 3;
            grid-row: 3;
            text-align: center;
        }

        &--d {
            grid-column: 3 / 4;
            grid-row: 3;
        }
    }

    &__bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        align-items: end;

        width: 100%;

        &-col--left {
            display: flex;
            justify-content: start;
        }

        &-col--center {
            display: flex;
            justify-content: center;
        }

        &-col--right {
            display: flex;
            justify-content: end;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
    }

    &__contact {
        &-title {
            font-weight: var(--fw-bold);
        }

        &-email,
        &-vk {
            color: var(--c-muted);
        }
    }
}

.btn {
    font-weight: var(--fw-bold);

    &--primary {
        border: var(--border-btn);
        border-radius: var(--radius);
        background: transparent;

        padding: 12px 20px;

        transition: all var(--t) var(--ease);

        &:hover {
            background: var(--c-text);
            color: var(--c-bg);

            border-radius: 0px;

            padding: 12px 40px;
        }
    }

    &--open {
        --w: 110px;
        --h: 55px;
        --stroke: 1px;

        position: relative;

        pointer-events: auto;

        &:hover {
            &::after {
                bottom: 70%;
            }
        }

        &::before {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            width: var(--w);
            height: var(--h);
            transform: translateX(-50%);
            border: var(--stroke) solid currentColor;
            border-bottom: 0;
            border-top-left-radius: 999px;
            border-top-right-radius: 999px;

            transition: all var(--t) var(--ease);
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            width: 8px;
            height: 56px;
            transform: translateX(-50%);

            background: currentColor;
            mask: url("/v2/assets/icons/btn-arrow.svg") no-repeat center / contain;
            -webkit-mask: url("/v2/assets/icons/btn-arrow.svg") no-repeat center / contain;

            transition: all var(--t) var(--ease);
        }
    }

    &--more {
        display: flex;
        align-items: center;
        gap: 32px;

        position: relative;
        padding-right: 20px;
        height: 24px;

        &::after {
            content: "";
            width: 8px;
            height: 56px;
            rotate: -90deg;

            background: var(--c-text);
            mask: url("/v2/assets/icons/btn-arrow.svg") no-repeat center / contain;
            -webkit-mask: url("/v2/assets/icons/btn-arrow.svg") no-repeat center / contain;

            transition: transform .25s ease;
        }
    }
}

/* Main */
.main {
    &__bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        border-top: 1px solid var(--c-text);
        border-bottom: 1px solid var(--c-text);

        padding: var(--pad);
    }

    &__location {
        &-label {
            font-weight: var(--fw-bold);
        }

        &-coords {
            color: var(--c-muted);
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
    }
}

/* Menu */
.menu-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: transparent;
    border: none;
    border-bottom: 1px solid var(--c-text);

    font-family: var(--ff-main);

    padding: var(--pad);

    &__heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;

        &-number {
            font-size: clamp(1rem, 0.375rem + 2vw, 1.5rem);

            border-bottom: 1px solid var(--c-text);
        }

        &-title {
            font-family: var(--ff-accent);
            font-size: var(--fs-title);
            font-weight: var(--fw-medium);
        }
    }

    &__meta {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 4px;

        &-label {
            color: var(--c-muted);
        }

        &-icon {
            color: var(--c-muted);
            font-size: clamp(1.5rem, 0.625rem + 2.8vw, 2.2rem);
            font-weight: var(--fw-black);
        }
    }

    &:hover {
        background: var(--c-text);
        color: var(--c-bg);

        padding: clamp(10px, 6vw, 80px);
    }
}

.menu-panel {
    overflow: hidden;

    opacity: 0;
    height: 0;

    transition:
        height .45s ease,
        opacity .25s ease,
        transform .25s ease;

    will-change: height, opacity, transform;

    &.is-open {
        opacity: 1;
        transform: translateY(0);
    }

    &__content {
        text-transform: none;

        border-bottom: 1px solid var(--c-text);

        padding: var(--pad);
    }

    &__collumns {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 40px;
        column-gap: 24px;
    }

    &__collumn {
        border-right: 1px solid var(--c-text);

        padding-right: 24px;

        &:nth-child(4n+4) {
            border: none;
            padding-right: 0;
        }
    }
}

/* Footer */

.footer {
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr auto;
        gap: 64px;
    }

    &__title {
        border-bottom: 1px solid var(--c-text);

        padding: var(--pad);
        margin: 0;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;

        list-style-type: none;

        padding: var(--pad);

        &>li a {
            color: var(--c-muted);
            transition: var(--t);

            &:hover {
                color: var(--c-text);
            }
        }
    }

    &__dev {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        padding: var(--pad) 0 var(--pad);


        &-logo {
            display: block;
            background: var(--c-muted);
            mask: url("/v2/assets/img/logo-buro-vertical.svg") no-repeat center / contain;
            -webkit-mask: url("/v2/assets/img/logo-buro-vertical.svg") no-repeat center / contain;

            width: 96px;
            aspect-ratio: 77 / 200;
        }
    }
}

/* Popup */

.popup {
    position: fixed;
    inset: 0;
    z-index: 999;
    background: var(--c-bg);
    display: none;

    width: 100%;
    height: 100dvh;

    padding: var(--pad);

    &.active {
        display: block;
    }

    &__window {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__close {
        width: 40px;
        height: 40px;

        color: var(--c-text);
        border: 1px solid var(--c-text);
        border-radius: var(--radius);
        background: transparent;

        line-height: 0;

        &:hover {
            background: var(--c-text);
            color: var(--c-bg);
            transform: rotate(180deg);
        }
    }

    &__title {
        text-align: center;
        margin: 24px;
    }
}

/* ==============================
   ADAPTIVE
============================== */

/* <= 1024px */
@media (max-width: 1024px) {
    .hero {
        &__top {
            grid-template-columns: 1fr auto 1fr;
            gap: 12px;
        }

        &__year {
            grid-column: 2;
            justify-self: center;
        }

        &__theme {
            grid-column: 3;
        }

        &__slogan {
            gap: 6px;
        }

        &__bottom {
            gap: 16px;
        }
    }

    .menu-panel {
        &__collumns {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 24px;
            row-gap: 40px;
        }

        &__collumn {
            &:nth-child(3n+3) {
                border: none;
                padding-right: 0;
            }

            &:nth-child(4n+4) {
                border-right: 1px solid var(--c-text);
                padding-right: 24px;
            }
        }
    }

    .footer {
        &__container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto 80px;
            row-gap: 24px;
            column-gap: 16px;
        }

        &__dev {
            grid-column: 1 / -1;
            justify-content: center;
            align-items: end;

            padding: 0;

            &-logo {
                display: block;
                background: var(--c-muted);
                mask: url("/v2/assets/img/logo-buro-horizontal.svg") no-repeat center / contain;
                -webkit-mask: url("/v2/assets/img/logo-buro-horizontal.svg") no-repeat center / contain;

                width: 200px;
                aspect-ratio: 200 / 77;
            }
        }
    }
}

/* <= 768px */
@media (max-width: 768px) {
    .hero {
        &__container {
            gap: 24px;
        }

        &__top {
            grid-template-columns: 1fr auto 1fr;
            gap: 12px;
        }

        &__year {
            grid-column: 2;
            justify-self: center;
        }

        &__theme {
            grid-column: 3;
            justify-self: end;
            order: 0;
        }

        &__city {
            grid-column: 1;
            justify-self: start;
            order: 0;
        }

        &__bottom {
            gap: 18px;
        }
    }

    .btn {

        &--open {
            --w: 96px;
            --h: 48px;
        }
    }

    .menu-panel {
        &__collumns {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 24px;
            row-gap: 40px;
        }

        &__collumn {
            &:nth-child(2n+2) {
                border-right: none;
                padding-right: 0;
            }

            &:nth-child(3n+3) {
                border-right: 1px solid var(--c-text);
                padding-right: 24px;
            }
        }
    }

    .footer {
        &__container {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 0;
        }
    }
}

/* <= 600px */
@media (max-width: 600px) {
    .hero {
        &__bottom {
            grid-template-columns: 1fr;

            &-col--right,
            &-col--center {
                display: none;
            }
        }
    }

    .btn--primary {
        width: 100%;
        text-align: center;
    }

    .menu-row {
        flex-direction: column;
        gap: 8px;

        &__heading {
            flex-direction: column;
            gap: 4px;
        }

        &__meta {
            align-items: center;
        }
    }

    .footer {
        &__container {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, auto);
        }

        &__dev {
            padding-top: var(--pad);
        }
    }
}

/* <= 480px */
@media (max-width: 480px) {
    .hero {
        &__theme-indicator {
            width: 22px;
            height: 22px;
        }

        &__logo {
            margin: 12px 0;
        }

        &__contact-email,
        &__contact-vk {
            word-break: break-word;
        }
    }

    .btn {
        &--open {
            --w: 88px;
            --h: 44px;

            &::after {
                height: 50px;
            }
        }
    }

    .main {
        &__bar {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    .menu-panel {
        &__collumns {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 24px;
        }

        &__collumn {

            border-right: none;
            padding-right: 0;
            padding-bottom: 24px;


            &:nth-child(3n+3) {
                border-right: none;
                padding-right: 0;
            }

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
    }
}

/* <= 380px */
@media (max-width: 380px) {
    .hero {
        &__bottom {
            grid-template-columns: 1fr;

            &-col--right {
                display: none;
            }
        }
    }

    .btn--primary {
        width: 100%;
        text-align: center;
    }
}

/* <= 360px */
@media (max-width: 360px) {
    .hero {
        &__slogan {
            font-size: 1rem;
        }
    }
}

/* <= all wireframe */
@media (hover: none) {

    .hero__theme::after,
    .hero__theme::before {
        display: none;
    }
}