@use "../tools/placeholders"as *;

.hero {
    width: 100%;
    height: 100svh;
    padding-top: var(--pad);

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__top {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
    }

    &__version,
    &__version a:not(.current) {
        color: #aaa !important;
    }

    &__year {
        grid-column: 2;
        justify-self: center;
        font-weight: var(--fw-bold);
    }

    &__city,
    &__slogan {
        font-family: var(--ff-content);
        font-size: var(--fs-lead);
        font-weight: var(--fw-regular);
    }

    &__logo {
        @extend %logo-mask;
        height: clamp(80px, 18vw, 5000px);
        margin: 16px 0;
    }

    &__slogan {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto auto;
        gap: 8px;
    }

    &__word {
        &:nth-child(1) {
            grid-column: 1 / 2;
            grid-row: 1;
        }

        &:nth-child(2) {
            grid-column: 2 / 3;
            grid-row: 2;
        }

        &:nth-child(3) {
            grid-column: 1 / 3;
            grid-row: 3;
            text-align: center;
        }

        &:nth-child(4) {
            grid-column: 3 / 4;
            grid-row: 3;
        }
    }

    &__bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        align-items: start;
        width: 100%;

        &-col--left {
            display: flex;
            justify-content: start;
        }

        &-col--center {
            display: flex;
            justify-content: center;
        }

        &-col--right {
            display: flex;
            justify-content: end;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    &__contact {
        &-title {
            font-weight: var(--fw-bold);
        }

        &-value {
            color: var(--color-muted);
        }
    }
}