@use "../tools/mixins"as *;
@use "../tools/placeholders"as *;

.sidebar-nav {
    height: 100svh;
    max-width: 320px;

    overflow: hidden;

    position: sticky;
    top: 0;

    background-color: var(--color-bg);

    &__container {
        display: grid;
        grid-template-rows: 1fr auto 1fr;
        gap: var(--gap-small);
        width: 100%;
        height: 100%;
        border-left: var(--border-base);
        padding: var(--pad);
    }

    &__header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        &-inner {
            display: flex;
            flex-direction: row;
            gap: calc(var(--gap-medium));
            align-items: center;
            width: 100%;
        }
    }

    &__logo {
        @extend %logo-mask;
        aspect-ratio: 240 / 41;
        flex-shrink: 1 !important;
    }

    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    &__link {
        display: flex;
        gap: var(--gap-extrasmall);
        padding: calc(var(--pad) / 2) 0;

        &:hover .sidebar-nav__number {
            color: var(--color-primary);
        }
    }

    &__number {
        border-bottom: 1px solid var(--color-muted);
        color: var(--color-muted);
        transition: var(--transition-base);
    }

    &__text {
        white-space: nowrap;
    }

    &__footer {
        display: flex;
        align-items: flex-end;

        &>.btn--cta {
            width: 100%;
            text-align: center;
        }
    }
}

.sidebar-nav__toggle {
    display: grid;
    place-items: center;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    @include button-reset;
}

.sidebar-nav__toggle-icon { display:block; width:32px; height:32px; }
.sidebar-nav__toggle-icon .l {
  stroke: var(--color-primary);
  stroke-width: 2;
  stroke-linecap: butt;
}