@import "tailwindcss";

@font-face {
	font-family: "Hagin Caps Medium";
	src: url("/assets/fonts/HaginCapsMedium-Medium.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Segoe UI";
	src: url("/assets/fonts/segoe-ui-variable.woff") format("woff2");
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Franklin Gothic Demi";
	src: url("/assets/fonts/franklingothic-demi.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "BS";
	src: url("/assets/fonts/bs.ttf");
	font-style: normal;
	font-display: swap;
}

@theme {
	--color-*: initial;
	--color-primary: #000000;
	--color-secondary: #edeff4;
	--color-muted: #6b6b6b;
	--color-muted-secondary: #9c9a9b;
	--color-neutral: #fff;

	--font-brand: "Hagin Caps Medium", serif;
	--font-body: "BS", sans-serif;
	--font-title: "Segoe UI", sans-serif;
	--font-deco: "Franklin Gothic Demi", sans-serif;

	--tracking-*: initial;
	--tracking-wide: 5%;
	--tracking-wider: 15%;
	--tracking-widest: 20%;
}

a {
	@apply text-muted hover:text-primary transition-colors w-fit;
}

p {
	@apply leading-normal tracking-wide;
}

strong {
	@apply [font-variation-settings:'wght'_600,'wdth'_75];
}

.text-semilight {
	@apply [font-variation-settings:'wght'_300,'wdth'_75] tracking-[0.05em] align-middle;
}

.text-semibold {
	@apply [font-variation-settings:'wght'_600,'wdth'_75] tracking-[0.05em];
}

.text-bold {
	@apply [font-variation-settings:'wght'_700,'wdth'_75] tracking-[0.05em];
}

.text-slogan {
	@apply [font-variation-settings:'wght'_300,'wdth'_100];
}

.btn {
	@apply bg-primary py-4 px-12 inline-flex items-center justify-center h-fit w-fit text-neutral hover:text-neutral rounded-full uppercase font-deco text-2xl transition-colors text-nowrap relative;
}

.btn__label {
	@apply relative block overflow-hidden;
}

.btn__label-item {
	@apply block will-change-transform;
}

.btn__label-item--clone {
	@apply absolute left-0 top-full w-full;
}

.logo {
	@apply mask-[url(/assets/img/logo.svg)] mask-no-repeat mask-cover pointer-events-none bg-primary aspect-240/41 relative;
}

.logo-mask-image {
	position: absolute;
	inset: 0;
	z-index: 2;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.35s ease;

	background: url("/assets/img/bg.jpg") center / cover no-repeat;

	--x: 50%;
	--y: 50%;

	-webkit-mask-image: radial-gradient(
		circle at var(--x) var(--y),
		#000 0px,
		#000 160px,
		transparent 260px
	);

	mask-image: radial-gradient(
		circle at var(--x) var(--y),
		#000 0px,
		#000 160px,
		transparent 260px
	);
}

.logo-mask-image.is-active {
	@apply opacity-100;
}

#carousel-art-objects .f-carousel__slide {
	width: max-content !important;
	flex: 0 0 auto !important;
}

#carousel-art-objects .f-carousel__slide img {
	max-width: fit-content !important;
	object-fit: contain;
	display: block;
}

#carousel-art-objects {
	--f-carousel-slide-width: max-content !important;
	overflow: hidden;
	--f-carousel-gap: 8px;
}

#carousel-art-objects a.art-slider__slide {
	display: block;
	overflow: hidden;
}

#carousel-art-objects .f-carousel__slide img {
	transform-origin: center center;
	will-change: transform, filter;
	transition: none;
}

.cursor-square {
	@apply fixed top-0 left-0 flex items-center justify-center border-2 border-primary/30 rounded-full pointer-events-none z-9999 w-9 h-9;
}

.cursor-square-label {
	@apply absolute inset-0 flex items-center justify-center opacity-0 pointer-events-none;
}

.cursor-square-label svg {
	@apply block w-6 h-6 pt-0.75;
}

@layer components {
	.fixed-bg {
		--clip-top: 0px;
		--clip-bottom: 0px;

		@apply pointer-events-none will-change-[clip-path] [clip-path:inset(var(--clip-top,100vh)_0_var(--clip-bottom,0px)_0)];
	}

	.fixed-bg video,
	.fixed-bg img {
		@apply absolute inset-0 w-full h-full object-cover;
	}
}

#map > ymaps,
#map > ymaps > ymaps {
	@apply w-full!;
}
