@use "base/fonts";
@use "base/reset";
@use "base/variables";
@use "base/base";

@use "tools/mixins";
@use "tools/placeholders";

@use "components/icons";
@use "components/preloader";
@use "components/buttons";
@use "components/popup";

@use "layout/page";
@use "layout/hero";
@use "layout/sidebar";
@use "layout/main";
@use "layout/footer";

@use "sections/menu-item";
@use "sections/menu-art";
@use "sections/menu-about";
@use "sections/menu-eat";
@use "sections/menu-visit";
@use "sections/ticket";
@use "sections/location";

@use "adaptive/breakpoints";